.recipes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  margin-bottom: 50px;
}

.recipesWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  gap: 20px;
}

@media (max-width: 900px) {
  .recipesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    overflow: hidden;
    width: 100%;
  }
}
