.recipes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  margin-bottom: 50px;
}

.recipesWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
  gap: 20px;
}

@media (max-width: 900px) {
  .receipes {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
}
