.favorites {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.favoritesWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
}
