.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
  cursor: pointer;
}

.recipe li {
  list-style: none;
}

.recipe button {
  border: none;
  padding: 5px;
}

.recipe img {
  width: 200px;
  height: 200px;
}

.selectedRecipe {
  background: #e38a67;
  color: white;
}

.recipe p {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 1.2rem;
}

.imgContainer {
  position: relative;
}

.recipeFav {
  position: absolute;
  right: 10%;
  top: 5%;
}

@media (max-width: 900px) {
  .recipe img {
    width: 300px;
    height: 300px;
  }
}
