.recipeDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
  background: #e0e9e9;
  min-height: 800px;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  position: relative;
  text-align: center;
}

.recipeDetailImgContainer {
  position: relative;
}

.recipeDetailImg {
  width: 70%;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.recipeDetails li {
  list-style: none;
}

.recipeDetails h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.recipeDetailsFav {
  all: unset;
  position: absolute;
  top: 10%;
  left: 65%;
  transform: translate(-50%, -50%);
  background: rgba(97, 96, 96, 0.818);
  color: #82f4e1;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.recipeDetailsFav:hover {
  text-decoration: underline;
}

.smallScreen {
  display: none;
}

@media (max-width: 900px) {
  .recipeDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  .smallScreen {
    display: block;
  }
}

@media (max-width: 900px) {
  .largeScreen {
    display: none;
  }
}
