.recipeDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  background: #e0e9e9;
  min-height: 800px;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  position: relative;
  text-align: center;
}

.recipeDetails h1 {
  margin: 15px;
}

.recipeDetailImgContainer {
  position: relative;
  margin: 0px;
}

.recipeDetails p {
  text-align: left;
  line-height: 25px;
}

.recipeDetailImg {
  width: 70%;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.recipeDetail ul li {
  list-style: none;
}

.recipeDetails ul li img {
  width: 50px;
}

.ingredientsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
  font-size: 0.8em;
}
.ingredientName {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeDetails h3 {
  margin: 15px;
}

.ingredientList {
  list-style: none;
  margin-bottom: 15px;
}

.ingredientWrapper {
  box-shadow: -5px 5px 1px 1px rgba(0, 0, 0, 0.132);
  border-radius: 10px;
  max-height: 180px;
  max-width: 180px;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.recipeDetailsFav {
  all: unset;
  position: absolute;
  top: 10%;
  left: 65%;
  transform: translate(-50%, -50%);
  background: rgba(97, 96, 96, 0.818);
  color: #82f4e1;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.recipeDetailsFav:hover {
  text-decoration: underline;
}

.smallScreen {
  display: none;
}

@media (max-width: 900px) {
  .recipeDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .smallScreen {
    display: flex;
  }
}

@media (max-width: 900px) {
  .largeScreen {
    display: none;
  }
}
